/*css for chatterbox*/
.error 
{
   color: red;
}

h3.you
{
   margin-bottom: 0px;
}

p.you
{
   background-color: #A2FFF5; 
   margin: 0px 30px;
   padding-top: 10px;
   padding-bottom: 10px;
}

h3.them
{
   margin-bottom: 0px;
}

p.them
{
   background-color: #ccc;
   color: #333;
   margin: 0px 30px;
   padding-top: 10px;
   padding-bottom: 10px;
}