/*css for chatterbox*/
*
{
    background-color: #A2FFF5;
    font-family: Futura, sans-serif;
}

body 
{
    margin: auto;
    width: 90%;
    background-color: #f2f2f2;
}

div, div *
{
   background-color: inherit;
}

.error 
{
   color: red;
}

.messages
{
   margin: 30px;
}

h3.you, h3.them
{
   margin-bottom: 0px;
   margin-top: 10px;
}

p.you, p.them
{
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 15px;
   margin: 0px 0px 20px;
}

p.you
{
   background-color: #A2FFF5; 
}

p.them
{
   background-color: #ccc;
   color: #333;
}

.header, .header *
{
   background-color: #888;
   color: #f2f2f2;
}

.side, .side *
{
   background-color: #ccc;
   color: #333;
}

.side button
{
   margin: 10px;
   background-color: #f2f2f2;
}

.side input
{
   background-color: #f2f2f2;
}