/*css for chatterbox*/
.error 
{
   color: red;
}

h3.you, h3.them
{
   margin-bottom: 0px;
}

p.you, p.them
{
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 15px;
   margin: 0px 30px;
}

p.you
{
   background-color: #A2FFF5; 
}

p.them
{
   background-color: #ccc;
   color: #333;
}

.header, .header *
{
   background-color: #888;
   color: #ccc;
}

.side, .side *
{
   background-color: #ccc;
   color: #888;
}

